.socmedia {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 206px;
}

.socmedia__logo-box {
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
background-color: map-get($colors , "secondary" );
border-radius: 100%;
color: #AFB1B8;
transition-property: background-color, color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover, &:focus {
background-color: map-get($colors , "primary" );
color: map-get($colors , "secondary" );
}

&--inverse {
background-color: rgba(255, 255, 255, 0.1);
color: map-get($colors , "secondary" );
}
}

.socmedia__icon {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
fill: currentColor;
}