.what-we-do-section {
display: flex;
justify-content: center;
padding-top: 0;

  @media screen and (max-width:1169px) {
  display: none;
  }
}

.what-we-do-section__title{
font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.img-container__list {
display: flex;
justify-content: center;
margin-left: -30px;
}

.img-container__item {
display: block;
width: calc(100% / 3 - 30px);
margin-left: 30px;
position: relative;
}

.img-container_picture {
  width: 370px;
  height: 294px;
}

.item__description {
position: absolute;
left: 0;
bottom: 0;
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 3%;
text-align: center;
text-transform: uppercase;
color: map-get($colors , "secondary" );
background-color: rgba(47, 48, 58, 0.8);
width: 370px;
height: 70px;
padding-top: 27px;
}