.header-contacts {

@media screen and (max-width:767px) {
    display: none;
}

@media screen and (min-width:768px) {
display: inline-block;
color: #757575;
margin-left: auto;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:1200px) {
display: flex;
justify-content: center;
align-items: center;
color: #757575;
margin-left: 305px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.header-contacts__item {
font-size: 14px;
line-height: 1.14;
font-weight: 500;
letter-spacing: 0.02em;

&:hover, &:focus {
    color: #2196f3;
}

&:first-child{
margin-bottom: 10px;
@media screen and (min-width:1200px) {
    margin-bottom: 0;
}
}
}

.header-contacts__mail {
margin-right: 30px;
}

.header-contacts__icon {
margin-right: 10px;
fill: currentColor;
margin-top: auto;
margin-bottom: auto;

&:hover {
    fill: currentColor;
}
}